<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    ¿Tienes dudas sobre que cursos del CBU debes ver?
  </h1>
  <br>
  <label>
    Está página te permite conocer rápidamente que cursos te faltan por tomar dependiendo de los que ya has tomado.
    <br>
    Completa el cuadro de los cursos del CBU que ya has visto, que se encuentra más abajo, para saber cuales cursos del CBU te hacen falta.
  </label>
  <br>
  <br> 
</div>
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <div class="card"  style="background-color:rgba(0, 0, 0, 0.5);">
        <div class="card-header" style="text-align:center">
          <h3>¿Cuales cursos del CBU has visto?</h3>
        </div>
        <div class="card-body"  style="text-align:center">
          <table class="table table-striped" style="background-color:rgba(0, 0, 0, 0.5);">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Tipo A</th>
                  <th scope="col">Tipo B</th>
                  <th scope="col">Tipo B</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Artes y Humanidades</th>
                  <td>
                    <input type="checkbox" [checked]="artesTipoA" (change)="artesTipoA = !artesTipoA"/>
                  </td>
                  <td><input type="checkbox" [checked]="artesTipoB"  (change)="artesTipoB = !artesTipoB"/></td>
                  <td><input type="checkbox" [checked]="artesTipoB2"  (change)="artesTipoB2 = !artesTipoB2"/></td>
                </tr>
                <tr>
                  <th scope="row">Ciencias Sociales</th>
                  <td><input type="checkbox" [checked]="socialesTipoA"  (change)="socialesTipoA = !socialesTipoA"/></td>
                  <td><input type="checkbox" [checked]="socialesTipoB"  (change)="socialesTipoB = !socialesTipoB"/></td>
                  <td><input type="checkbox" [checked]="socialesTipoB2"  (change)="socialesTipoB2 = !socialesTipoB2"/></td>
                </tr>
                <tr>
                  <th scope="row">Ciencia y Tecnología</th>
                  <td><input type="checkbox" [checked]="tecTipoA" (change)="tecTipoA = !tecTipoA"/></td>
                  <td><input type="checkbox" [checked]="tecTipoB" (change)="tecTipoB = !tecTipoB"/></td>
                  <td><input type="checkbox" [checked]="tecTipoB2" (change)="tecTipoB2 = !tecTipoB2"/></td>
                </tr>
              </tbody>
            </table>
            Total de creditos actuales = {{getCreditosActuales()}}
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card" style="background-color:rgba(0, 0, 0, 0.5);">
        <div class="card-header" style="text-align:center">
          <h3>¿Cuales curos del CBU debo ver, a partir de 2018-20?</h3>
        </div>
        <div class="card-body"  style="text-align:center">
          <br>
          <br>
          <ul style="background-color:rgba(0, 0, 0, 0.5);" class="list-group" *ngIf="this.getCreditosActuales() > 12 || this.artesTipoA || this.artesTipoB || this.artesTipoB2 || this.socialesTipoA || this.socialesTipoB || this.socialesTipoB2 || this.tecTipoA || this.tecTipoB || this.tecTipoB2">
            <li *ngIf="this.getCreditosActuales() <= 12" style="background-color:rgba(0, 0, 0, 0.5);" class="list-group-item d-flex justify-content-between align-items-center">
              Curso Común de Colombia
              <span class="badge badge-primary badge-pill">2 créditos</span>
            </li>
            <li *ngIf="getCreditosActuales() <= 9" style="background-color:rgba(0, 0, 0, 0.5);" class="list-group-item d-flex justify-content-between align-items-center">
              1 Curso en el Área de Colombia
              <span class="badge badge-primary badge-pill">2 créditos</span>
            </li>
            <li *ngIf="cursosRestantes() != 0" style="background-color:rgba(0, 0, 0, 0.5);" class="list-group-item d-flex justify-content-between align-items-center">
              {{cursosRestantes()}} {{areaFaltante()}}
              <span class="badge badge-primary badge-pill">{{cursosRestantes() * 2}} créditos</span>
            </li>
          </ul>
          <br>
          Total de creditos faltantes = {{getCreditosFaltantes()}}
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <p style="font-size: 10px; text-align: center;">
        Está página no fue creada por la Universidad de los Andes, por lo tanto no es una fuente oficial para definir que CBUs le falta por ver.
        <br>
        Es un desarrollo de estudiantes para apoyar a la comunidad a entender mejor el cambio que va a ocurrir desde el próximo semestre.
        <br>
        Por lo tanto, si tiene dudas, lo mejor es que se acerque al coordinador de su departamento para resolverlas. <strong>O escribe a cbu@uniandes.edu.co.</strong>
      </p>
    </div>
  </div>
</div>
