<!--The content below is only a placeholder and can be replaced.-->
<br>
<br>
<div class="container">
    <div style="text-align:center">
        <h1>
          ¿Tienes dudas sobre qué cursos del Ciclo Básico Uniandino (CBU) debes ver?
        </h1>
        <br>
        <label>
          Esta página te permite conocer rápidamente qué cursos te faltan por tomar dependiendo de los que ya has tomado.
          <br>
          Completa el cuadro de los cursos del CBU que ya has visto, que se encuentra más abajo, para saber cuáles cursos del CBU te hacen falta.
          <br>
          <br>
          Recuerda que la reforma del Ciclo Básico Uniandino no implica que tengas que ver más cursos. El número máximo de créditos que tomaras nunca sera mayor a 18 y el mínimo sera 14.
        </label>
        <br>
        <br> 
        <label>
          Si no sabes de qué áreas son los cursos del CBU que ya has tomado, puedes ir a <a href="https://educaciongeneral.uniandes.edu.co/historico/" style="color: white;" target="_blank"><u>https://cbu.uniandes.edu.co/cbu_hist</u></a>
        </label>
      </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <div class="card"  style="background-color:rgba(0, 0, 0, 0.5);">
        <div class="card-header" style="text-align:center">
          <h3>¿Cuáles cursos del CBU has visto?*</h3>
        </div>
        <div class="card-body"  style="text-align:center">
          <table class="table table-striped" style="background-color:rgba(0, 0, 0, 0.5);">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Tipo A</th>
                <th scope="col">Tipo B</th>
                <th scope="col">Tipo A o B</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Artes y Humanidades</th>
                <td>
                  <input type="checkbox" [checked]="artesTipoA" (change)="artesTipoA = !artesTipoA"/>
                </td>
                <td><input type="checkbox" [checked]="artesTipoB"  (change)="artesTipoB = !artesTipoB"/></td>
                <td><input type="checkbox" [checked]="artesTipoB2"  (change)="artesTipoB2 = !artesTipoB2"/></td>
              </tr>
              <tr>
                <th scope="row">Ciencias Sociales</th>
                <td><input type="checkbox" [checked]="socialesTipoA"  (change)="socialesTipoA = !socialesTipoA"/></td>
                <td><input type="checkbox" [checked]="socialesTipoB"  (change)="socialesTipoB = !socialesTipoB"/></td>
                <td><input type="checkbox" [checked]="socialesTipoB2"  (change)="socialesTipoB2 = !socialesTipoB2"/></td>
              </tr>
              <tr>
                <th scope="row">Ciencia y Tecnología</th>
                <td><input type="checkbox" [checked]="tecTipoA" (change)="tecTipoA = !tecTipoA"/></td>
                <td><input type="checkbox" [checked]="tecTipoB" (change)="tecTipoB = !tecTipoB"/></td>
                <td><input type="checkbox" [checked]="tecTipoB2" (change)="tecTipoB2 = !tecTipoB2"/></td>
              </tr>
            </tbody>
          </table>
          Total de créditos actuales = {{getCreditosActuales()}}
          <br>
          <br>
          <button *ngIf="getCreditosActuales() > 0" class="btn btn-primary" (click)="limpiar()">Limpiar</button>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card" style="background-color:rgba(0, 0, 0, 0.5); text-align: left;">
        <div class="card-header" style="text-align:center">
          <h3>¿Cuáles cursos del CBU debes ver, a partir de 2018-20?*</h3>
        </div>
        <div class="card-body">
          <ul style="background-color:rgba(0, 0, 0, 0.5);" class="list-group" >
            <li *ngIf="this.getCreditosActuales() <= 12" style="background-color:rgba(0, 0, 0, 0.5);" class="list-group-item d-flex justify-content-between align-items-center">
              Curso Común de Colombia
              <span class="badge badge-primary badge-pill">2 créditos</span>
            </li>
            <li *ngIf="getCreditosActuales() <= 9" style="background-color:rgba(0, 0, 0, 0.5);" class="list-group-item d-flex justify-content-between align-items-center">
              1 Curso en el Área de Colombia
              <span class="badge badge-primary badge-pill">2 créditos</span>
            </li>
            <li *ngIf="cursosRestantes() != 0" style="background-color:rgba(0, 0, 0, 0.5);" class="list-group-item d-flex justify-content-between align-items-center">
              <div style="padding-right: 50px;">{{cursosRestantes()}} {{areaFaltante()}}</div>
              <span class="badge badge-primary badge-pill">{{cursosRestantes() * 2}} créditos</span>
            </li>
            <li *ngIf="getCreditosActuales() === 0" style="background-color:rgba(0, 0, 0, 0.5);" class="list-group-item d-flex justify-content-between align-items-center">
              3 cursos de cualquier área.
              <span class="badge badge-primary badge-pill">6 créditos</span>
            </li>
          </ul>
          <br>
          <br>
          <div *ngIf="getCreditosActuales() === 0" style="text-align:center">  Total de créditos faltantes = 14</div>
          <div *ngIf="getCreditosActuales() != 0" style="text-align:center">Total de créditos faltantes = {{getCreditosFaltantes()}}</div>
     
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10" style="text-align: center;">
      * Si tienes dudas sobre tu caso específico lo mejor es que escribas a <strong>cbu@uniandes.edu.co</strong> o visita la oficina AU 04 201. Horarios de atención a estudiantes Lunes a viernes de 10:00 a 12:30.
      <br>
      <p style="font-size: 10px;">
        Está nos es una página oficial de la Universidad de los Andes, por lo tanto no es una fuente oficial para definir que cursos del CBU le falta por ver.
        <br>
        Es un desarrollo de estudiantes para apoyar a la comunidad a entender mejor el cambio que va a ocurrir desde el próximo semestre.
        <br>
        Por lo tanto, si tienes dudas, lo mejor es que te acerques al coordinador de tu departamento para resolverlas. <strong>O escribe a cbu@uniandes.edu.co.</strong>
      </p>
    </div>
  </div>
</div>
